/**
 * Created by Maind on 21. 7. 2022.
 */
.container{
    display: grid;
    padding: 5px;
}
.container > div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    padding-left: 10px;
}
.rows1{
    color: blue;
    padding-top: 30px;
    padding-bottom: 10px;
}
.rows2{
    border-top: darkgray 1px solid;
    color: blue;
    padding-top: 30px;
    padding-bottom: 10px;
}

.h1{
    justify-self: left;
    padding-bottom: 5px;
    color: gray;
}
.h1:hover{
    cursor: pointer;
    color: white;
}