/**
 * Created by Maind on 12. 7. 2022.
 */
.navigation{
    background: #3889fd;
    height: 50px;
}
.navigation > button{
    height: 50px;
    background: transparent;
    padding: 13px;
    color: white;
    border: none;
}
.navigation > button:hover{
    cursor: pointer;
    text-decoration: underline;
    background: dodgerblue;
}

.navigation2{
    background: white;
    height: 30px;
    border-bottom: #3889fd 2px solid;
}

.navigation2 > lightning-button {
    --slds-c-button-neutral-text-color: red;
    color: gray;
    border: none;
    width: auto;
    height: auto;
    font-size: 15px;
    line-height: 25px;
    transition-duration: 0.4s;
}
.navigation2 > button:hover{
    cursor: pointer;
}

.empty{
    height: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(100px, auto);
}
.wrapper > div{
    background: #efeff5;
    border-radius: 8px;
}