/**
 * Created by Maind on 21. 7. 2022.
 */
.navigation{
    background: #3889fd;
    height: 5vh;
}
.button{
    background: #3889fd;
    font-size: medium;
    color: white;
    border: none;
    height: 5vh;
}
.hover:hover{
    text-decoration: underline;
}
.bolder{
    font-weight: bold;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-column-gap: 10px;
    height: 95vh;
}
template, body, html{
    margin: 0;
}
.wrapper > div {
    background: #efeff5;
    border-radius: 8px;
}
.wrapper > div:nth-child(1){
    background: lightgray;
}
.wrapper > div:nth-child(2){
    background: #efeff5;
}
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}
.right {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}