/**
 * Created by Maind on 12. 7. 2022.
 */
.navigation{
    background: #3889fd;
    height: 50px;
}
.navigation > button{
    background: transparent;
    color: white;
    height: 50px;
    border: 0px ;
}
.navigation > button:hover{
    cursor: pointer;
    text-decoration: underline;
    background: dodgerblue;
}
.butt0{
    font-size: 20px;
    padding-top:10px;
}

.butt1{
    font-size: 20px;
    padding-top:10px;
}
.butt2{
    font-size: 30px;
}





.wrapper{
    display:grid;
    grid-template-columns:4fr 36fr ;
    font-size: 13px;


}
.row > div {
    border-bottom: darkgray 1px solid;
}
.title{
    border-bottom: darkgray 1px solid;
}
.top-top{
    display: grid;

    max-height: 110px;
}
.bottom{
    display: grid;
    background-color: rgba(243, 242, 242, 0.8);
    grid-column: 1/3;
    min-height: 250px;
    padding-top: 7px;




}
.row{
    padding-left: 5px;
    display: grid;
    grid-template-columns: 72fr 39fr 25fr 8fr;
    height: 15px;
    padding-bottom: 22px;
}
.row:hover{
    background: white;
    cursor: pointer;
}

.left-side{
    background-color: rgb(48, 48, 48);
}
.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;

}

.right-side{
    display:grid;
    grid-template-columns:1fr 1fr ;
    background-color: rgba(243, 242, 242, 0.8);
    padding-top:28px;



}

.middle-side{
    background-color: rgba(243, 242, 242, 0.8);


}






.header{
    color: dodgerblue;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.down >button {
    padding-top: 7px;
    padding-bottom: 7px;
}
.up >button {
    padding-top: 7px;
    padding-bottom: 7px;
}
.buttVchod{
    background-color:rgb(48, 48, 48);
    color: rgb(150, 150, 150);
    min-height: 20px;
    border: none ;
    text-align: left;

}
.buttVchod:hover{
    cursor: pointer;
    color: grey;

}
.buttVchod:active{
    background:dodgerblue;
    color: whitesmoke;

}
h1{
    padding-top: 1px;
    background-color: rgb(150, 150, 150);
    border: 5px solid rgb(48, 48, 48);

}
.up{
    padding-bottom: 20px;

}
.row-button{
    width: 6.66%;
    height: 100%;
    align-self: center;
}






.search-bar{
    padding: 10px;
    padding-left: 260px;

}

.searchBox {
    position: absolute;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;


}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
    background: white;
    color : dodgerblue;
}

.searchButton {

    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}


.text{
    padding-left: 5px;
    display:grid;
    grid-template-columns:2fr 3fr 2fr 2fr 1fr 1fr 2fr 2fr;
    padding-top: 65px;

}

.vertical-text  {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    align-self: start;

}
.help{
    padding-top: 58px;
    padding-left: 10px;
}
.title{
    color: grey;

}

.row-info-box{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 2fr 1fr 1fr 2fr 2fr;

}
.row-button-box > button{
    background: #f98c87;
    border: 1px solid white ;
    align-self: center;


}
.row-kontakt{
    padding-left: 12px;
}
.row-button-open{
    background:transparent;
    border:none;
}