.container{
    display: grid;
    background: #efeff5;
    border-radius: 8px;

}
.container > div{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding-top: 10px;
}
.rows{
    grid-column: 1/16;
    padding-right: 10px;
    font-size: small;
    padding-left: 15px;
}
.rows-headers{
    grid-column: 1/9;
    font-weight: bold;
    font-size: 20px;
    padding-left: 5px;
}
.button-info {
    padding-bottom: 5px;
    padding-left: 5px;
    border: none ;
    text-align: left;
    grid-column: 1/15;
}
.info-count{
    grid-column: 15/17;
    border-radius: 5px;
    background-color: white;
    align-self: center;
    text-align: center;
}
.textRow{
    padding-left: 5px;
    align-self: center;
    font-size: small;
}
.button-info:hover{

    cursor: pointer;
    text-decoration: underline;
}
.slds-button{
    grid-column: 9/17;
    height: 35px;
}
.slds-button:hover{

    cursor: pointer;
    text-decoration: underline;
}