.container{
    display: grid;
    padding:10px;
}
.container > div{
    display: grid;
    gap: 3px;
}
.header {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}
.header2 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 20px;
}
.text{
    font-size: x-small;
    color: darkgray;
}
.text-box{
    align-self: center;
    resize: none;
    border-radius: 8px;
    max-height: 35px;
}
.row-box > div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: white;
    border-radius: 6px;
    font-size: small;
    padding: 5px;
}
.select{
    grid-column: 4/6;
    border: none;
}
.text-field{
    grid-column: 1/4;
}