/**
 * Created by mgons on 8/3/2022.
 */
.container{
    display: grid;
    background: lightgrey;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    height: 95vh;

}
.container > div{
    display: grid;

    padding-top: 15px;
}
.header {

    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: left;
}

.rows{

    padding-bottom: 5px;
}
.rows-headers{
    padding-top: 15px;


}
.textRow{
    text-align: left;
    font-size: small;
    color: gray;

}
.text1{

}
.textRow:hover{
    cursor: pointer;
    color: white;
}