/**
 * Created by Maind on 11. 8. 2022.
 */
.navigation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: deepskyblue;
    height: 5vh;
}
.arrow {
    grid-column: 1/2;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.button{
    grid-column: 1/2;
    background: transparent;
    border: none;
    height: 5vh;
    font-size: medium;
    padding-left: 10px ;
    color: white;
    justify-self: start;
}
.slds-icon_container{
    padding-top: 2px;
    padding-right: 20px;
    justify-self: end;
    grid-column: 2/3;
}
.button:hover{
    text-decoration: underline white;
}
.slds-icon_container:hover{
    cursor: pointer;
}
.small-navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #3889fd;
    height: 3vh;
}
h2.small-header{
    font-size: small;
    color: white;
    text-align: center;
    padding: 3px 0;
}
.header1{
    grid-column: 2/3;
}
.header2{
    grid-column: 3/4;
}
.header3{
    grid-column: 4/5;
}
.wrapper{
    display: grid;
    background: #efeff5;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.draggable { width: 50px; height: 50px; padding: 0.5em;


}

.wrapper > div{
    display: grid;
    background: white;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
    grid-column: 1/8;
}
.header{
    grid-column: 1/3;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
}
.top-header{
    grid-column: 1/3;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.prvok{
    grid-column: 1/3;
    justify-self: center;
}
.button1{
    grid-column: 1/2;
}
.button2{
    grid-column: 2/3;
}
.wrapper > div:hover{
    cursor: pointer;
}
.img{
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    width: 300px;
    border: 5px solid black;

}

.container{
    height: 300px;
    width: 100%;
    position:relative;
}
.container > img{

    position:absolute;
    align-self: center;
    justify-self: center;
    top:0;
    left:0;
}